<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@
    <script type="text/javascript" src="https://platform.linkedin.com/in.js">
        api_key: 789mq30rudypqv
        authorize: true
        onLoad: onLinkedInLoad
    </script>


    <script type="text/javascript">


    </script>
</head>
<body>


    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/dahb")
    @RenderSection("scripts", required: false)
</body>
</html>
